.page {
  position: relative;
  padding: 2em 2em calc(20rem + 2em);
  overflow: hidden;
  height: 200vh;
}

@media only screen and (max-width: 1024px) {
  .logo__symbol,
  .logo__type {
    top: 28vh;
  }
}

.page__inner {
  padding: 2rem 2rem calc(2rem + 4rem);
  background: #f0f0e6;
  position: relative;
  z-index: 1;
}

.logo__symbol {
  /* position: fixed; */
  /* min-width: 400px; */
  /* width: 231%; */
  height: auto;
  z-index: 1;
  /* margin-top: calc(2em + 0.9rem); */
  margin-top: calc(var(--s-page-bezel) + 0.9rem);
  margin-left: 0.9rem;
  /* -webkit-transform: translate(-50%, calc(-50% - var(--progressMax) * 40rem))
    scale(calc(0.3 + var(--progressMax) * 0.6))
    rotate(calc(-42deg * var(--progress)));
  transform: translate(-50%, calc(-50% - var(--progressMax) * 40rem))
    scale(calc(0.3 + var(--progressMax) * 0.6))
    rotate(calc(-42deg * var(--progress)));
  will-change: transform; */
  overflow: visible;
}
*/

/* @media only screen and (max-width: 1024px) {
  .logo__symbol {
    -webkit-transform: translate(
        -50%,
        calc(-50% - var(--progressMax) * 40rem + var(--top))
      )
      scale(calc(0.3 + var(--progressMax) * 0.6))
      rotate(calc(-32deg * var(--progress)));
    transform: translate(
        -50%,
        calc(-50% - var(--progressMax) * 40rem + var(--top))
      )
      scale(calc(0.3 + var(--progressMax) * 0.6))
      rotate(calc(-32deg * var(--progress)));
  }
} */

.logo__type--front {
  z-index: 2;
}

.logo__type--back {
  z-index: -1;
}

.logo__type {
  position: absolute;
  pointer-events: none;
  font-size: 24vw;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #f04e45;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.logo__type span {
  color: transparent;
}

.elastiq {
  fill: none;
  stroke: #eca6ca;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 11.4px;
}
